.address-info {
  color: gray;
  font-size: 20px;
}
.data-info {
  color: gray;
  font-size: 15px;
}
.img1 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.img1-text {
  font-size: 15px;
}
.text {
  font-size: 20px;
}
