.address-info {
  color: gray;
  font-size: 20px;
}
.data-info {
  color: gray;
  font-size: 15px;
}
.img1 {
  padding-top: 20px;
}
.img1-text {
  font-size: 15px;
}
.text {
  font-size: 20px;
  padding-bottom: 10px;
}
.ul-list {
  font-size: 20px;
  padding-left: 0%;
}
.table1 {
  font-size: 20px;
  background-color: skyblue;
  width: 100%;
}
.table1-header {
  background-color: rgb(0, 153, 255);
  color: white;
  text-align: left;
}
.table2 {
  background-color: white;
}
